.footer {
    display: flex;
    background-color: #d5d4d8;
    justify-content: center;
    align-items: center;
    width: 320px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  
  .socialMedia {
    display: flex;
    gap: 20px;
    padding: 10px;
  }
  
  .socialIcons {
    width: 40px;
  }
  
  .socialIcons:hover,
  .socialIcons:focus {
    background-color: #a496ce;
  }